<!DOCTYPE html>
<html lang="en">
  <head>
{% include 'meta.html' %}
    {% block pagestyles %}

{% endblock %}
  </head>

  <body class="{{template}}">
      <main>
      {% include 'nav.html' %}

      {% block content %}{% endblock %}
    <!-- Scripts -->
    {% include 'scripts.html' %}
    {% block additionalscripts %}{% endblock %}
    </main>
    {% include 'footer.html' %}
  </body>


  <!--  Scripts-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


   <script type="text/javascript">



$.ajax({
            url: "https://inventory.jkwenterprises.com/funnels/names",
            type: 'GET',
            dataType: 'json', // added data type
            success: function(data) {
                console.log(data);

                 helpers.buildDropdown(
                    data,
                    $('#dropdown'),
                    'Funnel - Email/SMS'
                );
            }
        });




var helpers =
{
    buildDropdown: function(result, dropdown, emptyMessage)
    {
        // Remove current options
        dropdown.html('');
        // Add the empty option with the empty message
        dropdown.append('<option value="">' + emptyMessage + '</option>');
        // Check result isnt empty
        if(result != '')
        {
            // Loop through each of the results and append the option to the dropdown
            $.each(result, function(k, v) {
                dropdown.append('<option value="' + v.id + '">' + v.name + '</option>');
            });
        }
    }
}



var childSkuArray;


$('select').on('change', function() {
  var val = $("#dropdown option:selected").text();

   $.ajax({
        url: "https://inventory.jkwenterprises.com/funnels/names",
        dataType: 'json',
        type: 'post',
        contentType: 'application/json',
        data: JSON.stringify({'funnel': val}),
        success: function( data, textStatus, jQxhr ){
           console.log(data)
           if(data['email'] == true) {
                    $('.email').prop( "checked", true );
                    $('#dropdown option').addClass( "columns-bg" );
                }
            else {
                    $('.email').prop( "checked", false);
                }
            if(data['sms'] == true) {
                    $('.sms').prop( "checked", true );
                }
            else {

                    $('.sms').prop( "checked", false );
                }

            $('.funnelid').val(data['funnelid']);
            $('.funnelname').val(val);
            $('.landingpage').val(data['landingpage']);
            $('.gatag').val(data['ga-tag']);
        },
        error: function( jqXhr, textStatus, errorThrown ){
            console.log( errorThrown );
        }
    });


});


$(".delete").click(function(e) {
    e.preventDefault();
    $('#question p').text($('.funnelname').val());
    $('.modal').modal();
    $('#modal1').modal('open');

});

   $("#agree").click(function(e) {
    e.preventDefault();
    var obj = {
   'funnelname': $('.funnelname').val()
    }
    console.log(obj);
    $.ajax({
        url: "/funnel/edit/delete",
        dataType: 'json',
        type: 'post',
        contentType: 'application/json',
        data: JSON.stringify(obj),
        success: function( data, textStatus, jQxhr ){
             $('#status p').text($("#dropdown option:selected").text());
            $('.modal2').modal();
    $('#modal2').modal('open');
        },
        error: function( jqXhr, textStatus, errorThrown ){
            console.log( errorThrown );
        }
    });
});



$(".submit").click(function(e) {
    e.preventDefault();
    var skuArray = [];
    if ($("#dropdown option:selected").val() == '') {
        val = 'none';
    }
    else {
        val = $("#dropdown option:selected").text();
    }

    if ($('.sms').is(":checked"))
    {
        sms = true;
    }
    else {
        sms = false;
    }
    if ($('.email').is(":checked"))
    {
        email = true;
    }
    else {
        email = false;
    }


    if ($(".funnel").val() == '')
    {
        newfunnel = 'none';
    }
    else
    {
        newfunnel = $(".funnel").val();
    }

    var obj = {
    'funnelid' : $('.funnelid').val(),
   'funnelname': val,
    'landingpage':$('.landingpage').val(),
    'gatag':$('.gatag').val(),
    'email': email,
    'sms': sms,
    'newfunnel': $('.funnelname').val()
    }
    console.log(obj);
    $.ajax({
        url: "/funnel/edit/update",
        dataType: 'json',
        type: 'post',
        contentType: 'application/json',
        data: JSON.stringify(obj),
        success: function( data, textStatus, jQxhr ){
            console.log("Funnel Updated");
        },
        error: function( jqXhr, textStatus, errorThrown ){
            console.log( errorThrown );
        }
    });
});


</script>



</html>

