{% extends "skuEdit_layout.html" %}

{% block pagestyles %}
<style>
    body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 1px solid red;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #2196F3;
}
</style>

<style>

body{
  padding:0;
  margin:0;
  color: #2c3e51;
  background: #f5f5f5;
  font-family: 'Ubuntu', sans-serif;
}
.container{
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}

select {
    display: none !important;
}

.dropdown-select {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40FFFFFF', endColorstr='#00FFFFFF', GradientType=0);
    background-color: #fff;
    border-radius: 6px;
    border: solid 1px #eee;
    box-shadow: 0px 2px 5px 0px rgba(155, 155, 155, 0.5);
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;

}

.dropdown-select:focus {
    background-color: #fff;
}

.dropdown-select:hover {
    background-color: #fff;
}

.dropdown-select:active,
.dropdown-select.open {
    background-color: #fff !important;
    border-color: #bbb;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;
}

.dropdown-select:after {
    height: 0;
    width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #777;
    -webkit-transform: origin(50% 20%);
    transform: origin(50% 20%);
    transition: all 0.125s ease-in-out;
    content: '';
    display: block;
    margin-top: -2px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 50%;
}

.dropdown-select.open:after {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.dropdown-select.open .list {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.dropdown-select.open .option {
    cursor: pointer;
}

.dropdown-select.wide {
    width: 100%;
}

.dropdown-select.wide .list {
    left: 0 !important;
    right: 0 !important;
}

.dropdown-select .list {
    box-sizing: border-box;
    transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
    background-color: #fff;
    border-radius: 6px;
    margin-top: 4px;
    padding: 3px 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    max-height: 250px;
    overflow: auto;
    border: 1px solid #ddd;
}

.dropdown-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
}
.dropdown-select .dd-search{
  overflow:hidden;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:0.5rem;
}

.dropdown-select .dd-searchbox{
  width:90%;
  padding:0.5rem;
  border:1px solid #999;
  border-color:#999;
  border-radius:4px;
  outline:none;
}
.dropdown-select .dd-searchbox:focus{
  border-color:#12CBC4;
}

.dropdown-select .list ul {
    padding: 0;
}

.dropdown-select .option {
    cursor: default;
    font-weight: 400;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s;
    list-style: none;
}

.dropdown-select .option:hover,
.dropdown-select .option:focus {
    background-color: #f6f6f6 !important;
}

.dropdown-select .option.selected {
    font-weight: 600;
    color: #12cbc4;
}

.dropdown-select .option.selected:focus {
    background: #f6f6f6;
}

.dropdown-select a {
    color: #aaa;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.dropdown-select a:hover {
    color: #666;
}

</style>
{% endblock %}


{% block content %}
<div class="valign-wrapper" style="width:100%; margin: 5% auto 5% auto;  height:100%;">
        <div class="container">
      <form method="post">
    <div class="row">
              <div class="col s6 l3 offset-l2">

  <select id="selectDescription">

  </select>

  </div>
  <div class="col s6 l3">

    <input type "text" style='width: 100%;' placeholder="Enter Edited SKU Name" name="input2" class="input2" />
  </div>
  </div>


<div class='row'>
    <div class='col s6 l6 offset-l4'>
      <div class="btn-group">
    <label>
        <input name="featured" type="radio" value="true"/>
        <span>Featured On</span>
      </label>
      <label>
        <input name="featured" value="false" type="radio" />
        <span>Featured Off</span>
      </label>
</div>
</div>
</div>
     <div class='row'>
    <div class='col s6 l11 offset-l1 child'>
    <label>Child Skus</label>
    <br>
    <input type "text" name="child1" class="child1">
    <input type "text" name="child2" class="child2">
    <input type "text" name="child3" class="child3">
    <input type "text" name="child4" class="child4">
    <input type "text" name="child5" class="child5">
    <input type "text" name="child6" class="child6">
    <input type "text" name="child7" class="child7">
    <input type "text" name="child8" class="child8">
    <input type "text" name="child9" class="child9">
    <input type "text" name="child10" class="child10">
    <input type "text" name="child11" class="child11">
    <input type "text" name="child12" class="child12">
    <input type "text" name="child13" class="child13">
    <input type "text" name="child14" class="child14">
    <input type "text" name="child15" class="child15">
    <input type "text" name="child16" class="child16">
    <input type "text" name="child17" class="child17">
    <input type "text" name="child18" class="child18">
    <input type "text" name="child19" class="child19">
    <input type "text" name="child20" class="child20">
    </div>
    </div>
<div class='row'>
    <div class='col s6 l11 offset-l1 quantity'>
    <label>Quantities</label>
    <br>
    <input type "text" name="quantity1" class="quantity1">
    <input type "text" name="quantity2" class="quantity2">
    <input type "text" name="quantity3" class="quantity3">
    <input type "text" name="quantity4" class="quantity4">
    <input type "text" name="quantity5" class="quantity5">
    <input type "text" name="quantity6" class="quantity6">
    <input type "text" name="quantity7" class="quantity7">
    <input type "text" name="quantity8" class="quantity8">
    <input type "text" name="quantity9" class="quantity9">
    <input type "text" name="quantity10" class="quantity10">
    <input type "text" name="quantity11" class="quantity11">
    <input type "text" name="quantity12" class="quantity12">
    <input type "text" name="quantity13" class="quantity13">
    <input type "text" name="quantity14" class="quantity14">
    <input type "text" name="quantity15" class="quantity15">
    <input type "text" name="quantity16" class="quantity16">
    <input type "text" name="quantity17" class="quantity17">
    <input type "text" name="quantity18" class="quantity18">
    <input type "text" name="quantity19" class="quantity19">
    <input type "text" name="quantity20" class="quantity20">
</div>
</div>
<div class='row'>
    <div class='col s6 l11 offset-l1 quantity btn-group'>
        <button class="btn waves-effect waves-light blue delete" style="margin: 10px 0 10px 0;" type="submit" name="action">Delete SKU
  </button>
    <button class="btn waves-effect waves-light blue submit" style="margin: 10px 0 10px 0;" type="submit" name="action">Submit
  </button>
  </div>
</div>
</div>
</div>
</form>

  <div id="modal1" class="modal">
    <div class="modal-content">
      <h5 id='question'>Delete SKU: <p style='color: red; display: inline;'></p>?</h5>
      <p>Once you click agree the SKU will be removed from the entire system and no longer be tracked</p>
    </div>
    <div class="modal-footer">
      <a href="#!" id='disagree' class="modal-close waves-effect waves-green btn-flat disagree">Disagree</a>
      <a href="#!" id ='agree' class="modal-close waves-effect waves-green btn-flat agree">Agree</a>
    </div>
  </div>

  <div id="modal2" class="modal">
    <div class="modal-content">
      <h5 id='status'>SKU: <p style='color: red; display: inline;'></p> has been deleted</h5>
    </div>
    <div class="modal-footer">
      <a href="#!" id='disagree' class="modal-close waves-effect waves-green btn-flat disagree">Okay</a>
    </div>
  </div>

{% endblock %}

