{% block meta %}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>IVT - JKW Enterprises</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <meta name="theme-color" content="#5eb9d7" />
<link rel="shortcut icon" type="image/png" width='16' height= '16' href="https://inventory.jkwenterprises.com/dist/img/owm1.png"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script type="text/javascript">
  $(document).ready(function () {
$('.dropdown-trigger2').dropdown({
   coverTrigger: false,
   hover: true
});
$('.dropdown-trigger1').dropdown({
   coverTrigger: false,
   hover: true
});
});
</script>
{% endblock %}
