

      <div class="navbar-fixed">
        <nav class="blue">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">JKW Enterprises</a>
                    <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a class='white-text menu-text'  style="font-weight: 900;" href="/">Home</a></li>
        <li><a class='dropdown-trigger1 white-text menu-text' style="font-weight: 900;" href='#' data-target='dropdown1'>Editors</a></li>
        <li><a class='white-text menu-text' style="font-weight: 900;" href="/featured">Featured</a></li>
        <li><a class='dropdown-trigger2 white-text menu-text' style="font-weight: 900;" href='#' data-target='dropdown2'>Funnel Stats</a></li>
        <li><a href="#"><i class="material-icons">notification_important</i></a></li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>


        <ul id='dropdown2' class='dropdown-content'>
    <li><a class='blue-text menu-text'  style="font-weight: 900;" href="/emailfunnelstats">Email Stats</a></li>
        <li><a class='blue-text menu-text' style="font-weight: 900;" href="/funnelstats">Sales Stats</a></li>
        <li><a class='blue-text menu-text' style="font-weight: 900;" href="#">Affliate Stats</a></li>
  </ul>
  <ul id='dropdown1' class='dropdown-content'>
    <li><a class='blue-text menu-text'  style="font-weight: 900;" href="/editsku">SKU Editor</a></li>
        <li><a class='blue-text menu-text' style="font-weight: 900;" href="/funnel-notifs">Funnel Editor</a></li>
  </ul>
    <ul class="sidenav" id="mobile-nav">
       <li><a href="/">Home</a></li>
        <li><a href="/editsku">Edit SKUs</a></li>
        <li><a href="/funnelstats">Funnel Stats</a></li>
        <li><a href="/featured">Featured</a></li>
        <li><a href="/funnel-notifs">Funnel Alerts</a></li>
    </ul>

